* {
    margin: 0;
  
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    background-image: url(/img/tealYellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header.site-header {
    height: 20vh;
    margin-top: 2rem;
    background-color: lightgray;
    background: hsl(0 0% 70% / 0.6);
    border-radius: 15px;
}
header.site-header h1 {
    margin-top: 2rem;
    padding: 2rem;
    color: rgb(86, 83, 83);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
} 
nav {
    height: 4vh;
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: right;
    border-radius: 10px;
}
nav a {
    color: rgb(70, 69, 69);
    text-decoration: none;
    margin-right: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .5s;
}
nav a:hover {
    color: white;
    text-shadow: 0 0 5px #dcd210,
                0 0 25px #dcd210,
                0 0 50px #dcd210,
                0 0 100px #dcd210;
}
#navRegister {
    color: white
}
h2 {
    text-align: center;
    margin: 1rem;
}
main h6 {
    margin-bottom: 1rem;
    text-align: center;
    font-style: italic;
    letter-spacing: 2px;
    color: rgb(70, 69, 69);
}
.form-container {
    background-color: #dedede;
    background: hsl(0 0% 60% / 0.6);
    width: 60%;
    border-radius: 15px;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.input-container {
    display: flex;
    flex-direction: row;
    height: 55px;
    padding: 0.5rem;
}
.input-container label {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: right;
    text-align: right;
    margin-right: 1rem;
    letter-spacing: 1px;
}
.input-container input,.input-container select {
    flex-basis: 75%;
    padding: 3px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;
}
.btn {
    padding: 0.5rem;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.btn:hover {
    color: white;
    text-shadow: 0 0 5px #dcd210,
                0 0 25px #dcd210,
                0 0 50px #dcd210,
                0 0 100px #dcd210;
}
#btnHideForm {
    border: none;
    padding: none;
    font-size: xx-large;
    background-color: #dedede;
    background: hsl(0 0% 60% / 0.1);
    float: left;
    cursor: pointer;
    transition: .5s;
}
#btnHideForm:hover {
    color: white;
    text-shadow: 0 0 5px #dcd210,
                0 0 25px #dcd210,
                0 0 50px #dcd210,
                0 0 100px #dcd210;
}
