* {
    margin: 0;
  
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    background-image: url(/img/blurryBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*.flex-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */
header.site-header {
    height: 15vh;
    margin-top: 3rem;
    background-color: lightgray;
    border-radius: 10px;
}
header.site-header h1 {
    color: black
    padding: 1rem;
    font-size: 30px;
}
#main-header {
    margin-top: 2rem;
}
nav {
    background-color: rgba(0,0,0,0.2);
    padding: 1rem;
    text-align: right;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}
h2 {
    text-align: center;
    margin: 1rem;
}
.form-container {
    background-color: #dedede;
    width: 60%;
    border-radius: 10px;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.input-container {
    display: flex;
    flex-direction: row;
    height: 55px;
    padding: 0.5rem;
}
.input-container label {
    flex-basis: 20%;
    text-align: right;
    margin-right: 1rem;
}
.input-container input,.input-container select {
    flex-basis: 75%;
    padding: 3px;
    font-size: 16px;
    border-radius: 4px;
}
.btn {
    padding: 0.5rem;
    border: none;
    background-color: black;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
#btnHideForm {
    border: none;
    padding: none;
    font-size: xx-large;
    background-color: #dedede;
}
