* {
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header.site-header {
    height: 20vh;
    background-color: rgb(9,80,80);
}
header.site-header h1 {
    color: white;
    text-align: center;
    padding: 1rem;
    text-shadow: 2px 2px black;
    font-size: 30px;
}
nav {
    background-color: rgba(0,0,0,0.446);
    padding: 1rem;
    text-align: right;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}
h2 {
    text-align: center;
    margin: 1rem;
}
.form-container {
    background-color: #dedede;
    width: 60%;
    border-radius: 10px;
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;
}
.input-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}
.input-container label {
    flex-basis: 25%;
    text-align: right;
    margin-right: 1rem;
}
.input-container input,.input-container select {
    flex-basis: 75%;
    padding: 3px;
    font-size: 16px;
}
.btn {
    padding: 1rem;
    border: none;
    background-color: black;
    font-size: 16px;
    color: white;
    cursor: pointer;
}